body {
    background-color: #f3eae3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;

}

.image {
    grid-area: image;
}

.text {
    grid-area: texto;
    background-color: hsl(0, 0%, 100%);
    padding: 5% 8%;
}



h1, span {
    font-family: Fraunces;
}

h1 { 
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: -5px;
}

p   {
    line-height: 1.5em;
}

h2, p, button, del {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%)

}

button {
    background-color:  hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    line-height: 2em;
    border-style: none;
    border-radius: 8px;
    padding: 0.8em;
    margin: 5% auto;

}

#price {
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-right: 10px;
}

#sub {
    letter-spacing: 0.3em;
    margin-bottom: -13px;
}

@media (max-width: 767px){
    .container {
        grid-template-areas: 'image' 'texto';
        max-width: 90vw;
        margin: 8% auto;
    }

    img {
        border-radius: 10px 10px 0 0;
        max-width: 100%;
    }

    .text {
        border-radius: 0 0 10px 10px ;
    }
    
}

@media (min-width: 768px){

    body {
        height: 100vh;

    }
    .container {
        position: relative;
        margin: 0 auto;
        padding-top: 8%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'image texto';
        width: 40%;
        height: 20%;
    }

    img {
        height: 100%;
        max-width: 100%; 
        border-radius: 10px 0 0 10px;
    }

    .text {
        border-radius: 0 10px 10px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .money {
        display: flex;
        flex-direction: row;
    }
    
    footer {
        position: fixed;
        left: 40%;
        bottom: 3%;
    }


}


    


